<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCEeV6qjE7rMntKiKEsp2rkSdWNHF2rFW4</string>
	<key>GCM_SENDER_ID</key>
	<string>183082399206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sosbattery.app</string>
	<key>PROJECT_ID</key>
	<string>sos-battery-dfa5e</string>
	<key>STORAGE_BUCKET</key>
	<string>sos-battery-dfa5e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183082399206:ios:fe7a5ccd344c46549c9227</string>
</dict>
</plist>